<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <title>{{.PageTitle}}</title>
  </head>

  <body>
    <div id="container">
      <header>
        <h1><a href="/">rfw.is</a></h1>
        <nav>
          <a href="/about.html">Whois</a>
          <a href="https://bsky.app/profile/rfw.is">Bluesky</a>
          <a href="https://github.com/rfwatson">GitHub</a>
        </nav>
      </header>
      <main>
      {{template "layout" .}}
      </main>
      <footer>
      <p>&copy; 2026. Content licensed under <a href="https://creativecommons.org/licenses/by-nd/4.0/">CC BY-ND 4.0</a>.</p>
      </footer>
    </div>
  </body>
</html>
