{{define "layout_post" -}}
<h1><a href="/{{ block "url" . }}{{end}}">{{block "title" .}}{{end}}</a></h1>

<p class="subhead">Published {{block "published_at" .}}{{end}}</p>

{{block "content" .}}{{end}}
{{- end}}
