// Variables

$black: #262323;
$white: #fff0f0;
$grey: #cbc1b9;
$charcoal: #403939;
$paprika: #e25231;

$max_width: 700px;

// Reset

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

// Styles

*::selection,
*::-moz-selection,
*::-webkit-selection {
  background: $grey;
  color: $black;
}

body {
  background: linear-gradient($grey, $white);
  background-attachment: fixed;
  font-size: 100%;
}

#container {
  max-width: $max_width;
  margin: 0 auto;
  background-color: $white;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  min-height: 100vh;
  height: auto;
  filter: drop-shadow(5px 5px 10px $charcoal);

  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

a,
a:active,
a:visited {
  color: $paprika;
  text-decoration: none;
  font-weight: 500;
  outline: none;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 10px solid $charcoal;

  font-family: 'Quantico';
  font-size: 4rem;
  font-weight: 500;
  padding: 0 20px;

  > h1 {
    height: 100%;
    display: flex;
    align-items: center;

    a,
    a:active,
    a:visited {
      color: $black;
    }
  }

  > nav {
    height: 100%;
    display: grid;
    padding: 5px 0;
    grid-auto-rows: auto;
    font-size: 1.25rem;
    font-weight: normal;
    align-items: center;
  }
}

main {
  color: $black;
  background-color: $white;
  padding: 1rem 20px;
  line-height: 1.5;
  font-size: 107.5%;
  width: 100vw;
  max-width: $max_width;
  padding-bottom: 100px;

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 2.5rem;

    > a,
    a:active,
    a:visited {
      font-weight: inherit;
    }

    &:first-child {
      margin-top: 1rem;
    }
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.333rem;
    font-weight: 500;
  }

  p,
  pre,
  > ol,
  > ul,
  blockquote {
    margin-bottom: 1rem;
  }

  p {
    &.subhead {
      color: $charcoal;
      font-size: 0.9rem;
      font-weight: 300;
      margin-top: 0.5rem;
    }
  }

  em {
    font-style: italic;
  }

  ul.posts {
    margin-top: 1rem;
  }

  ul,
  ol {
    line-height: 1.333;
    padding-inline-start: 30px;
  }

  ol > li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 0.125rem;
  }

  ul > li {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 0.125rem;
  }

  blockquote {
    background: $white;
    padding: 1rem;
    font-style: italic;
    border-left: 4px solid $paprika;

    p {
      margin-bottom: 0;
    }
  }

  code,
  pre {
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-size: 87.5%;
    font-weight: 500;
  }

  > code {
    background: $white;
    display: inline-block;
    padding: 0px 1px;
    color: $charcoal;

    &::selection,
    &::-moz-selection,
    &::-webkit-selection {
      background: $charcoal;
      color: $white;
    }
  }

  pre {
    line-height: 1rem;
    overflow-x: scroll;
  }

  table {
    th,
    td {
      &:not(:last-child) {
        border-right: 20px solid transparent;
      }
    }

    thead {
      th {
        font-weight: 500;
        text-align: left;
      }
    }
  }
}

footer {
  display: grid;
  align-items: center;
  background-color: $charcoal;

  p {
    padding: 0px 20px;
    font-size: 0.8rem;
    color: $white;

    a,
    a:active,
    a:visited {
      color: $white;
      font-weight: 500;
    }
  }
}
